* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin main-icon {
    color: white;
    font-size: 20px;
    position: absolute;
    padding: 18px;
    border-radius: 50%;
    background-color: #FF5722;
    right: 15px;
    top: -30px;
    cursor: pointer;
    transition: 0.3s;
}

@mixin main-star {
    color: #EDB867;
    font-size: 25px;
    right: 100px;
    float: right;
}

@mixin main-heart {
    position: absolute;
    font-size: 25px;
    color: #999999;
    right: 15px;
    top: 15px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        color: black;
        transition: 0.5s;
    }
}

#top-area {
    background-color: #333F98;


    .container {
        padding: 30px 0;
    }

    .my-btn {
        width: 100px;
        height: 45px;
        padding-top: 10px;
        background-color: #333F98;
        border: none;
    }

    .flag-menu li img {
        width: 26px;
        height: 26px;
    }

    .image {
        width: 100%;
        position: relative;
        justify-content: center;
        display: flex;

        img {
            position: absolute;
        }
    }

    .icons {
        display: flex;
        float: right;

        .btn-secondary {
            background-color: #333F98 !important;
            border: none !important;
        }

        .bg-color {
            background-color: #FF5722;
        }

        div {
            width: 45px;
            height: 45px;
            position: relative;
            justify-content: center;
            align-items: center;
            display: flex;
            cursor: pointer;
            margin-right: 5px;
            border-radius: 50%;

            .sup {
                width: 25px;
                height: 25px;
                font-size: 15px;
                top: -25px;
                right: -25px;
                background-color: #FF5722;
                border-radius: 50%;
                color: white;

                sup {
                    margin-top: 10px;
                }
            }

            img {
                width: 45px;
                height: 45px;
                margin-top: -8px;
                margin-left: -11px;
                border-radius: 50%;
                position: absolute;
            }

            a {
                color: white;
                font-size: 17px;
                position: absolute;
            }
      

            .drop-info {
                margin-left: -50px !important;
                margin-top: -50px !important;
                transition: 0.3s;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                .info {
                    .dropdown-item {
                        background-color: white;
                    }

                    border: none !important;
                    display: flex;
                    cursor: pointer;

                    i {
                        color: #000;
                        background-color: none !important;
                    }

                    a {
                        margin-left: 60px;
                        color: #000;
                    }
                }
            }

        }




    }
}

#navbar-area {
    background-color: #283593;

    .container {
        nav {
            display: flex;
            justify-content: center;
            position: relative;

            .search {
                width: 60px;
                height: 60px;
                background-color: #FF5722;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                cursor: pointer;
                right: 0;
                bottom: -30px;
                z-index: 2;

                i {
                    color: white;
                    font-size: 20px;
                }
            }
        }

        .btn {
            display: flex;
            align-items: center;

            .admin {
                width: 125px;
                background-color: #FF5722;
                padding: 9px 0;
            }

            li {
                display: inline-block;
                transition: all 0.3s ease-in-out;
                margin-right: 25px;
                z-index: 2;
                padding: 0 10px;


                .nav-a {
                    color: white;
                    display: block;
                    text-decoration: none;
                    position: relative;
                    margin-top: 15px;
                    padding-bottom: 10px;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        bottom: -10px;
                        left: 0px;
                        background-color: #FF5722;
                        transition: all 0.2s ease-in-out;
                        transform: scale(0, 0);
                        visibility: hidden;
                    }
                }

                &:hover {
                    .home {
                        height: 120px;
                        z-index: 2;
                    }

                    .submenu {
                        height: 160px;
                        z-index: 2;
                    }

                    .categori {
                        height: 250px;

                        z-index: 2;
                    }

                    a {

                        &::before {
                            visibility: visible;
                            transform: scale(1, 1);
                        }
                    }
                }

                .home {
                    overflow: hidden;
                    position: absolute;
                    margin-top: 10px;
                    background-color: white;
                    height: 0;
                    width: 150px;
                    line-height: 40px;
                    transition: height 0.3s ease-in-out;
                    transition-delay: 0.1s;
                    text-align: left;
                    padding-left: 15px;
                    border-radius: 5px;
                    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                    a {
                        color: #000;
                        font-size: 16px;
                        text-decoration: none;
                    }
                }

                .submenu {
                    overflow: hidden;
                    position: absolute;
                    margin-top: 10px;
                    background-color: white;
                    height: 0;
                    width: 185px;
                    line-height: 40px;
                    transition: height 0.3s ease-in-out;
                    transition-delay: 0.1s;
                    text-align: left;
                    padding-left: 15px;
                    border-radius: 5px;
                    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                    a {
                        color: #000;
                        font-size: 16px;
                        text-decoration: none;
                    }
                }

                .categori {
                    overflow: hidden;
                    position: absolute;
                    margin-top: 10px;
                    background-color: white;
                    height: 0;
                    width: 800px;
                    line-height: 30px;
                    text-align: left;
                    transition: height 0.3s ease-in-out;
                    transition-delay: 0.2s;
                    text-align: left;
                    margin-left: -200px;
                    border-radius: 10px;
                    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                    table td {
                        border: none;
                    }

                    table {
                        th {
                            font-size: 17px;
                            color: blue;

                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }
            }

            h1 {
                text-align: center;
                font-family: satisfy;
                font-weight: 300;
            }

            padding: 0;
            margin: 0;
        }
    }
}

#scroll-section {
    background-color: #283593;
    z-index: 2;
    position: fixed;
    width: 100%;
    display: block;
    transition: 0.5s;

    .inActive {
        display: none;
    }

    .head {
        height: 60px;
        position: relative;
        display: flex;
        align-items: center;

        img {
            position: absolute;
            color: white !important;
        }
    }

    nav {
        float: right;
    }

    .btn {
        display: flex;
        align-items: center;

        .admin {
            background-color: #FF5722;
            width: 125px;
            height: 60px;
            padding-top: 4px;
            margin-right: 0;
        }

        li {
            display: inline-block;
            transition: all 0.3s ease-in-out;
            margin-right: 25px;

            .nav-a {
                color: white;
                display: block;
                text-decoration: none;
                position: relative;
                margin-top: 15px;
                padding-bottom: 10px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: -10px;
                    left: 0px;
                    background-color: #FF5722;
                    transition: all 0.2s ease-in-out;
                    transform: scale(0, 0);
                    visibility: hidden;
                }
            }

            &:hover {
                .home {
                    height: 120px;

                }

                .submenu {
                    height: 160px;

                }

                .categori {
                    height: 250px;

                }

                a {

                    &::before {
                        visibility: visible;
                        transform: scale(1, 1);
                    }
                }
            }

            .home {
                overflow: hidden;
                position: absolute;
                margin-top: 10px;
                background-color: white;
                height: 0;
                width: 150px;
                line-height: 40px;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.1s;
                text-align: left;
                padding-left: 15px;
                border-radius: 5px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                a {
                    color: #000;
                    font-size: 16px;
                    text-decoration: none;
                }
            }

            .submenu {
                overflow: hidden;
                position: absolute;
                margin-top: 10px;
                background-color: white;
                height: 0;
                width: 165px;
                line-height: 40px;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.1s;
                text-align: left;
                padding-left: 15px;
                border-radius: 5px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                a {
                    color: #000;
                    font-size: 16px;
                    text-decoration: none;
                }
            }

            .categori {
                overflow: hidden;
                position: absolute;
                margin-top: 10px;
                background-color: white;
                height: 0;
                width: 800px;
                line-height: 30px;
                text-align: left;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.2s;
                text-align: left;
                margin-left: -220px;
                border-radius: 10px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                table td {
                    border: none;
                }

                table {
                    th {
                        font-size: 17px;
                        color: blue;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }

        h1 {
            text-align: center;
            font-family: satisfy;
            font-weight: 300;
        }

        padding: 0;
        margin: 0;
    }

}

#main-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/product/accesserious-background.jpg);
    height: 344px;
    margin-bottom: 70px;

  

    .background-info {
        text-align: center;
        line-height: 60px;

        h2 {
            font-size: 60px;
            color: white;
        }
    }

}

#about-product {
    #main-option {
        display: flex;
        width: 100%;
        margin: auto;

        #option-second {
            img {
                width: 500px;
                height: 700px;
                border-radius: 10px;
                cursor: pointer;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
            }
        }

        #option-three {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;

            img{
                width: 90%;
                border-radius: 0.8rem;
                height: 120px;
                cursor: pointer;
            }
        }
   
    }
    margin-bottom: 70px;

    p:nth-child(1) {
        color: #283593;
        cursor: pointer;

        &:hover {
            color: red;
        }
    }

    a {
        color: black;
    }

    h3 {
        color: red;
    }

    .select {
        select {
            margin-right: 5px;
            width: 190px;
            outline: none;
            border: 0 solid #fff;
            border-bottom: 2px solid rgb(234, 230, 230);
            cursor: pointer;

            &:hover {
                border-bottom: 2px solid black;
            }
        }
    }

    .btn-one {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        border: none;
        margin-right: 20px;
        color: white;
        background-color: #FF5722;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }

    .btn-second {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        border: none;
        background-color: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }

    .social {
        display: flex;

        span {
            margin-right: 20px;
            margin-top: 10px;
        }

        ion-icon {
            font-size: 17px;
            border-radius: 50%;
            padding: 10px;
            margin-left: 10px;
            color: white;
            cursor: pointer;
            background-color: blue;
            border: 2px solid blue;
            transition: 0.5s;

            &:hover {
                background-color: white;
                transition: 0.5s;
                color: blue;
            }
        }
    }



}

#cards {
    background-color: #F3F3F4;
    padding-bottom: 50px;

    .head {
        margin-top: 60px;
        margin-bottom: 30px;
        text-align: center;
    }

    .my-card {
        width: 100% !important;
        margin: 30px 0;
        border: none;
        outline: none;
        border-radius: 5px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);

        &:hover .fa-cart-shopping {
            transform: translateY(-30px);
            transition: 0.3s;
        }


        .image {
            width: 100%;
            height: 370px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid rgb(234, 230, 230);

            img {
                height: 100%;
                cursor: pointer;
            }

            i {
                @include main-heart;
            }
        }

        .card-bottom {
            position: relative;

            h5 {
                margin-top: 15px;
                transition: 1s;
                cursor: pointer;

                &:hover {
                    color: #FF5722;
                    transition: 0.3s;
                }
            }

            h6 {
                display: inline;
                color: #FF5722;
                font-size: 18px;
            }

            ion-icon:nth-last-child(5) {
                color: #999999;
            }

            ion-icon {
                @include main-star;
            }

            i {
                @include main-icon;
            }

        }
    }

    .button {
        text-align: center;
        margin-top: 30px;

        button {
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        }


    }
}

#footer {
    background-color: #000;
    padding: 60px;

    h5 {
        color: white;
        margin-bottom: 30px;
    }

    span {
        color: white;
    }

    p {
        color: white;
        transition: 0.3s;
        cursor: pointer;
        font-size: 17px;

        &:hover {
            color: brown;
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: white;
        margin: 20px 0;
    }

    .mastercards {
        margin-bottom: 30px;

        span {
            float: right;
        }
    }
}