* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-area {
    background-color: #333F98;


    .container {
        padding: 30px 0;
    }

    .my-btn {
        width: 100px;
        height: 45px;
        padding-top: 10px;
        background-color: #333F98;
        border: none;
    }

    .flag-menu li img {
        width: 26px;
        height: 26px;
    }

    .image {
        width: 100%;
        position: relative;
        justify-content: center;
        display: flex;

        img {
            position: absolute;
        }
    }

    .icons {
        display: flex;
        float: right;

        .btn-secondary {
            background-color: #333F98 !important;
            border: none !important;
        }

        .bg-color {
            background-color: #FF5722;
        }

        div {
            width: 45px;
            height: 45px;
            position: relative;
            justify-content: center;
            align-items: center;
            display: flex;
            cursor: pointer;
            margin-right: 5px;
            border-radius: 50%;

            .sup {
                width: 25px;
                height: 25px;
                font-size: 15px;
                top: -25px;
                right: -25px;
                background-color: #FF5722;
                border-radius: 50%;
                color: white;

                sup {
                    margin-top: 10px;
                }
            }

            img {
                width: 45px;
                height: 45px;
                margin-top: -8px;
                margin-left: -11px;
                border-radius: 50%;
                position: absolute;
            }

            a {
                color: white;
                font-size: 17px;
                position: absolute;
            }
          

            .drop-info {
                margin-left: -50px !important;
                margin-top: -50px !important;
                transition: 0.3s;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                .info {
                    .dropdown-item {
                        background-color: white;
                    }

                    border: none !important;
                    display: flex;
                    cursor: pointer;

                    i {
                        color: #000;
                        background-color: none !important;
                    }

                    a {
                        margin-left: 60px;
                        color: #000;
                    }
                }
            }

        }




    }
}

#navbar-area {
    background-color: #283593;

    .container {
        nav {
            display: flex;
            justify-content: center;
            position: relative;

            .search {
                width: 60px;
                height: 60px;
                background-color: #FF5722;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                cursor: pointer;
                right: 0;
                bottom: -30px;
                z-index: 2;

                i {
                    color: white;
                    font-size: 20px;
                }
            }
        
        }

        .btn {
            display: flex;
            align-items: center;

            .admin {
                width: 125px;
                background-color: #FF5722;
                padding: 9px 0;
            }

            li {
                display: inline-block;
                transition: all 0.3s ease-in-out;
                margin-right: 25px;
                z-index: 2;
                padding: 0 10px;


                .nav-a {
                    color: white;
                    display: block;
                    text-decoration: none;
                    position: relative;
                    margin-top: 15px;
                    padding-bottom: 10px;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        bottom: -10px;
                        left: 0px;
                        background-color: #FF5722;
                        transition: all 0.2s ease-in-out;
                        transform: scale(0, 0);
                        visibility: hidden;
                    }
                }

                &:hover {
                    .home {
                        height: 120px;
                        z-index: 2;
                    }

                    .submenu {
                        height: 160px;
                        z-index: 2;
                    }

                    .categori {
                        height: 250px;

                        z-index: 2;
                    }

                    a {

                        &::before {
                            visibility: visible;
                            transform: scale(1, 1);
                        }
                    }
                }

                .home {
                    overflow: hidden;
                    position: absolute;
                    margin-top: 10px;
                    background-color: white;
                    height: 0;
                    width: 150px;
                    line-height: 40px;
                    transition: height 0.3s ease-in-out;
                    transition-delay: 0.1s;
                    text-align: left;
                    padding-left: 15px;
                    border-radius: 5px;
                    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                    a {
                        color: #000;
                        font-size: 16px;
                        text-decoration: none;
                    }
                }

                .submenu {
                    overflow: hidden;
                    position: absolute;
                    margin-top: 10px;
                    background-color: white;
                    height: 0;
                    width: 185px;
                    line-height: 40px;
                    transition: height 0.3s ease-in-out;
                    transition-delay: 0.1s;
                    text-align: left;
                    padding-left: 15px;
                    border-radius: 5px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                    a {
                        color: #000;
                        font-size: 16px;
                        text-decoration: none;
                    }
                }

                .categori {
                    overflow: hidden;
                    position: absolute;
                    margin-top: 10px;
                    background-color: white;
                    height: 0;
                    width: 800px;
                    line-height: 30px;
                    text-align: left;
                    transition: height 0.3s ease-in-out;
                    transition-delay: 0.2s;
                    text-align: left;
                    margin-left: -200px;
                    border-radius: 10px;
                    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                    table td {
                        border: none;
                    }

                    table {
                        th {
                            font-size: 17px;
                            color: blue;

                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }
            }

            h1 {
                text-align: center;
                font-family: satisfy;
                font-weight: 300;
            }

            padding: 0;
            margin: 0;
        }
    }
}

#scroll-section {
    background-color: #283593;
    z-index: 2;
    position: fixed;
    width: 100%;
    display: block;
    transition: 0.5s;

    .inActive {
        display: none;
    }

    .head {
        height: 60px;
        position: relative;
        display: flex;
        align-items: center;

        img {
            position: absolute;
            color: white !important;
        }
    }

    nav {
        float: right;
    }

    .btn {
        display: flex;
        align-items: center;

        .admin {
            background-color: #FF5722;
            width: 125px;
            height: 60px;
            padding-top: 4px;
            margin-right: 0;
        }

        li {
            display: inline-block;
            transition: all 0.3s ease-in-out;
            margin-right: 25px;

            .nav-a {
                color: white;
                display: block;
                text-decoration: none;
                position: relative;
                margin-top: 15px;
                padding-bottom: 10px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: -10px;
                    left: 0px;
                    background-color: #FF5722;
                    transition: all 0.2s ease-in-out;
                    transform: scale(0, 0);
                    visibility: hidden;
                }
            }

            &:hover {
                .home {
                    height: 120px;

                }

                .submenu {
                    height: 160px;

                }

                .categori {
                    height: 250px;

                }

                a {

                    &::before {
                        visibility: visible;
                        transform: scale(1, 1);
                    }
                }
            }

            .home {
                overflow: hidden;
                position: absolute;
                margin-top: 10px;
                background-color: white;
                height: 0;
                width: 150px;
                line-height: 40px;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.1s;
                text-align: left;
                padding-left: 15px;
                border-radius: 5px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                a {
                    color: #000;
                    font-size: 16px;
                    text-decoration: none;
                }
            }

            .submenu {
                overflow: hidden;
                position: absolute;
                margin-top: 10px;
                background-color: white;
                height: 0;
                width: 165px;
                line-height: 40px;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.1s;
                text-align: left;
                padding-left: 15px;
                border-radius: 5px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                a {
                    color: #000;
                    font-size: 16px;
                    text-decoration: none;
                }
            }

            .categori {
                overflow: hidden;
                position: absolute;
                margin-top: 10px;
                background-color: white;
                height: 0;
                width: 800px;
                line-height: 30px;
                text-align: left;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.2s;
                text-align: left;
                margin-left: -220px;
                border-radius: 10px;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);

                table td {
                    border: none;
                }

                table {
                    th {
                        font-size: 17px;
                        color: blue;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }

        h1 {
            text-align: center;
            font-family: satisfy;
            font-weight: 300;
        }

        padding: 0;
        margin: 0;
    }

}

#main-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/accessories/accesserious-background.jpg);
    height: 344px;
    margin-bottom: 70px;

    .background-info {
        text-align: center;
        line-height: 60px;

        h2 {
            font-size: 55px;
            color: white;
        }

        p {
            font-size: 25px;
            color: white;
        }
    }

}

#commerce {
    margin-bottom: 70px;

    h1 {
        margin-top: 70px;
        font-size: 50px;
        color: #000;
    }

    h4 {
        margin-top: 20px;
        color: #000;
        margin-bottom: 25px;
    }

    .my-btn {
        width: 180px;
        height: 50px;
        border-radius: 3px;
        border: none;
        margin-right: 20px;
        color: white;
        margin-top: 40px;
        background-color: #FF5722;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);

        &:hover{
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
        }
    }
}

#mission {
    padding-top: 70px;
    background-color: #F3F3F4;

    img {
        width: 100%;
    }

    h1 {
        margin-top: 120px;
        color: #000;
    }

    h5 {
        margin: 20px 0;
        color: #000;
    }
}

#vision {
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #F3F3F4;

    img {
        width: 100%;
    }

    h1 {
        margin-top: 120px;
        color: #000;
    }

    h5 {
        margin: 20px 0;
        color: #000;
    }
}

#awesome {
    background-image: url(../../images/about/awesome.jpg);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 50px;
        color: white;
    }

    .carousell-section {
        width: 800px;
        height: 400px;
        display: flex;
        align-items: center;
        margin-top: 60px;

        .swiper {

            .swiper-slide {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                color: white;

                h5 {
                    margin-top: 20px;
                }

                img {
                    display: block;
                    width: 170px !important;
                    height: 170px !important;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }
            }
        }
    }
}

#meet {
    padding-top: 70px;
    padding-bottom: 60px;
    background-color: #F3F3F4;

    h1 {
        text-align: center;
        margin-bottom: 70px;
        color: #000;
    }

    .image {
        text-align: center;

        img {
            border-radius: 50%;
        }

        .image-info {
            margin-top: 20px;
            line-height: 20px;
        }
    }
}

#register {
    .row{
        --bs-gutter-x:0 !important;
    }

    .image{
        height: 700px;
        background-image: url(../../images/about/register-image.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .register {
        margin-top: 60px;
        width: 100%;
        padding-left: 80px;
        h1 {
            margin-bottom: 60px;
        }

        label {
            position: relative;
            display: inline-block;
        }

        span {
            padding: 10px;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.2s;
            transition-timing-function: ease;
            transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
            opacity: 0.5;
        }

        input {
            padding: 10px;
            margin-bottom: 30px;
            width: 600px;
            border: none;
            outline: none;
            border-bottom: 2px solid gray;

            &:hover {
                border-bottom: 2px solid blue;
            }
        }

        input:focus+span,
        input:not(:placeholder-shown)+span {
            opacity: 1;
            transform: scale(0.75) translateY(-100%) translateX(-30px);
        }


        input:focus+span,
        input:not(:-ms-input-placeholder)+span {
            opacity: 1;
            transform: scale(0.75) translateY(-100%) translateX(-30px);
        }

        button {
            width: 180px;
            height: 50px;
            border-radius: 3px;
            border: none;
            margin-right: 20px;
            color: white;
            margin-top: 40px;
            background-color: #FF5722;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);

            &:hover{
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
            }
        }

    }
}

#footer {
    background-color: #000;
    padding: 60px;

    h5 {
        color: white;
        margin-bottom: 30px;
    }

    span {
        color: white;
    }

    p {
        color: white;
        transition: 0.3s;
        cursor: pointer;
        font-size: 17px;

        &:hover {
            color: brown;
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: white;
        margin: 20px 0;
    }

    .mastercards {
        margin-bottom: 30px;

        span {
            float: right;
        }
    }
}