@model IEnumerable<Product>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-12">

        <div product-id="1" class="card my-card" style="width: 18rem;">
            <div class="image">
                <i class="fa-solid fa-heart"></i>
                <img src="~/assets/images/accessories/@item.Image" class="card-img-top"
                     alt="...">
            </div>
            <div class="card-body card-bottom">
                <div class="add-product">
                    <a href="">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
                <h5 class="card-title">@item.Title</h5>
                <h6 class="card-text">$ @item.Price.ToString("0.#####")</h6>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half-sharp"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
            </div>
        </div>

    </div>
}
